*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#app{
    position: relative;
}

.background-top{
    height: 110px;
    background-color: #009789;
}
.background-app{
    height: calc(100vh - 110px);
    background-color: #d6dbd7;
}

/* container-app */
.container-app{
    width: 1200px;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #eaeaea;
}

/************/
/* Sidebar */
.sidebar{
    width: 350px;
    height: 100%;
}

/* Sidebar Header */
.sidebar-header, .chat-header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #b1b1b1;
    padding: 10px;
}

.user img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.box-icons{
    width: 88px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    color: #b1b1b1;
}
.box-icons > i{
    padding: 0 20px;
}

/* Sidebar notifier */
.notifier{
    height: 80px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.bell-icon{
    width: 60px;
    border-radius: 50%;
    background-color: #f2fbff;
    color: #8edafc;
    text-align: center;
    padding: 14px 0;
}

.notifier-info{
    margin-left: 14px;
}

.notifier-info > p{
    font-size: 14px;
}
.notifier-info > a, .last-access{
    font-size: 12px;
    color: #4f7485;
}

/* Sidebar .search-contact */
.search-contact{
    height: 50px;
    padding: 0 6px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.search-contact > i{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #b1b1b1;
}
.search-contact > input{
    height: 34px;
    width: 100%;
    padding-left: 50px;
    border: none;
    border-radius: 5px;
}
.search-contact > input:focus, #to-send:focus, #search-input:focus{
    outline: none;
    border: 1px solid #b1b1b1;
}

/* Sidebar .contact-list*/
.contact-list{
    height: calc(100% - 50px - 80px - 80px);
    overflow-y: scroll;
}

.contact-list > ul > li {
    padding: 12px 20px;
    display: flex;
    background-color: white;
    border-top: 2px solid  #eaeaea;
}
.contact-list > ul > li:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.contact-info{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}
.time-stamp, .last-message{
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
    color: #b6bfbb;
}
.name{
    font-size: 20px;
}
.last-message{
    width: 100%;
    text-align: left;
    margin-top: -15px;
}
.contact-list > ul > li > img{
    width: 64px;
    border-radius: 50%;  
}

/*********/
/* Chat */
.chat{
    width: calc(100% - 350px);
    height: 100%;
}

/* Chat Header */
.chat-header{
    border: none;
}

.chat-header > .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-info{
    margin-left: 20px;
}

.last-access{
    margin-top: 4px;
}

.search-input-box{
    width: 260px;
    height: 30px;
    margin-left: 120px;
    position: relative;
}

#search-input{
    width: 100%;
    height: 100%;
    padding-left: 6px;
    padding-right: 30px;
    border: none;
    border-radius: 10px;
}

.search-input-box > i{
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #b1b1b1;
}

.search-input-box > i.close-icon:hover, i.fa-search:hover{
    cursor: pointer;
    color: #1E90FF;
}

.search-input-box > i.close-icon, i.fa-search{
    color: #6b7376;
}


/* Chat Main */
.chat-main{
    height: calc(100% - 80px - 80px);
    padding: 30px 60px;
    overflow-y: scroll;
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
}

/* Dropdown section */
.msg{
    position: relative;
}
.dropdown{
    width: 60px;
    padding: 3px 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: right;
    display: none;
}
.dropdown > i{
    color: #6b7376;
}
.msg:hover > .dropdown{
    display: block;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu > ul{
    width: 200px;
    padding: 10px 20px;
    text-align: left;
    list-style: none;
    background-color: white;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-menu > ul > li{
    padding: 10px 0;
}
.dropdown-menu > ul > li:hover{
    text-decoration: underline;
}

/* END Dropdown section */

.msg-send, .msg-received{
    width: max-content;
    min-width: 200px;
    max-width: 320px;
    border-radius: 14px;
    margin: 10px 0;
    padding: 18px 14px 6px 14px;
}

.msg-send{
    align-self: flex-end;
    background-color: #d5f9ba;
}
.msg-send .dropdown{
    background-color: #d5f9bad7;
}

.msg-received{
    align-self: flex-start;
    background-color: white;
}
.msg-received .dropdown{
    background-color: rgba(255, 255, 255, 0.8);
}

/* audio */
audio {
    width: 290px;
}
audio:focus {
    outline: none;
    box-shadow: 0 0 0 3px #d5f9ba, 0 0 0 6px black;
    border-radius: 40px;
}

/* Chat Footer */
.chat-footer{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6b7376;
}

#to-send{
    resize: none;
    margin: 0 -24px;
    padding: 18px 14px;
    border-radius: 5px;
}

i.fa-microphone:hover, i.fa-stop{
    cursor: pointer;
    color: red;
}

i.fa-stop:hover{
    color: #1E90FF;
}